<style type="text/css">
.fullscreen {
        z-index:99999;
        background: red;
        width: 1px;
        min-width: 100%;
        height: 100vh;
        min-height: 100%;
        overflow: hidden;
        position: fixed;
        top:0;
        left: 0;
    }
</style>



<ion-view view-title="LiveLotto | Lobby" hide-nav-bar="true" class="shine-red bg-plum menu-top">
<iframe class="fullscreen" src="https://integration.intopenv.com:9413/play/?mode=fun&currency=GBP&lang=EN&gameCode=PP_HTML5_CopsAndRobbers62&financialMode=0&homeURL=(api)"> </iframe>
</ion-view>
